<head lang="en" th:replace="/fragments/header"></head>
<link th:href="@{css/pages/altaSecretario.css}" 
    href="../../static/css/pages/altaSecretario.css" rel="stylesheet" type="text/css"/>
<div class="wrapper">
    <div th:replace="/fragments/sideMenu"></div>
    <div id="content">
        <div th:replace="/fragments/topMenu"></div>

        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h1>ALTA SECRETARIO</h1>
                </div>
                <form class="ml-5 mr-5">
                    <div class="row">
                        <div class="col form-group">
                            <label for="dniInput">DNI</label>
                            <input type="text" class="form-control" pattern="[0-9]{8}[A-Za-z]{1}" title="Debe poner 8 números y una letra" id="dniInput" aria-describedby="dniHelp">
                            <small id="dniHelp" class="form-text text-muted">DNI with letter ej.(14235217Y)</small>
                        </div>
                        <div class="col form-group">
                            <label for="nameInput">Nombre</label>
                            <input type="text" class="form-control" id="nameInput">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label for="surnameInput">Apellidos</label>
                            <input type="text" class="form-control" id="surnameInput">
                        </div>
                        <div class="col form-group">
                            <label for="phoneInput">Teléfono</label>
                            <input type="tel" class="form-control" id="phoneInput" 
                                pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" title="Sólo se aceptan números">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label for="addressInput">Dirección</label>
                            <input type="text" class="form-control" id="addressInput">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label for="seniorityInput">Años de Antigüedad</label>
                            <input type="number" class="form-control" id="seniorityInput" pattern="[0-9]" title="Sólo se aceptan números">
                        </div>
                        <div class="col form-group">
                            <label for="officeInput">Teléfono de Empresa</label>
                            <input type="tel" class="form-control" id="officeInput" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" title="Sólo se aceptan números">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label for="salaryInput">Salario</label>
                            <input type="number" class="form-control" id="salaryInput" pattern="^[0-9]+([,][0-9]+)?$" title="Sólo se aceptan números"  step="any">
                            <small id="dniHelp" class="form-text text-muted">Números decimales con coma ej.(23000,32)</small>
                        </div>
                        <div class="col form-group">
                            <label for="phoneInput">Despacho</label>
                            <input type="text" class="form-control" id="phoneInput">
                        </div>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
          </div>
    </div>
</div>